# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Data files
data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase 설정
firebase-debug.log*
firebase-debug.*.log*

# 빌드 출력
/dist
/build